*.Debug
*.Release
*moc_*.cpp
*qrc_*.cpp
*ui_*.h
*Makefile*
/src/release
/src/res/mdcharm.rc
/src/MdCharm/version.h
build-*
newui
qt4.7.4/
src/MdCharm/deploy.cmd
src/res/mdcharm-splash_.png
src/debug/
src/MdCharm/debug/
src/MdCharm/release/
src/lib/crashdump/debug/
src/lib/crashdump/release/
src/lib/debug/
src/lib/hunspell/debug/
src/lib/hunspell/release/
src/lib/pcre/debug/
src/lib/pcre/release/
src/lib/release/
src/release/
src/MdCharm.pro.user